.about__container {
  position: relative;
  margin-bottom: 96px;
  padding: 21px 122px 0 310px;
  background-image: url("../img/year-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 220px 317px;
  background-position: 100px 29px;
  padding-bottom: 15px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .about__container {
    background-image: url("../img/year-desktop@2x.png");
  }
}

.about__container h2 {
  margin: 0;
  margin-bottom: 25px;
  font-style: normal;
  font-size: 36px;
  line-height: 51px;
  font-family: $second-font;
  font-weight: 400;
  color: $color-text;
}

.about__container p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $color-text;
}

.about__container p:last-of-type {
  margin-bottom: 40px;
}

// .about__container::before {
//   position: absolute;
//   top: 29px;
//   left: 90px;
//   width: 220px;
//   height: 317px;
//   background-image: url("../img/year-desktop@1x.png");
//   background-repeat: no-repeat;
//   background-size: cover;
//   content: "";
// }

// @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
//   .about__container::before {
//     background-image: url("../img/year-desktop@2x.png");
//   }
// }

@media (max-width: $tablet-width) {
  .about__container {
    margin-bottom: 78px;
    padding: 9px 20px 5px 213px;
    background-image: url("../img/year-tablet@1x.png");
    background-size: 251px 362px;
    background-position: 0 12px;

    h2 {
      font-size: 32px;
      line-height: 45px;
      margin-bottom: 27px;
    }

    p {
      margin-bottom: 21px;

      &:last-of-type {
        margin-bottom: 45px;
      }
    }

    // &::before {
    //   top: 0;
    //   left: -3px;
    //   width: 251px;
    //   height: 362px;
    //   background-image: url("../img/year-tablet@1x.png");
    //   background-repeat: no-repeat;

    //   @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    //     background-image: url("../img/year-tablet@2x.png");
    //   }
    // }
  }
}

@media (max-width: $mobile-width) {
  .about__container {
    margin-bottom: 69px;
    padding: 0 14px;
    background: none;

    // &::before {
    //   content: none;
    // }

    h2 {
      font-size: 28px;
      line-height: 39px;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 38px;
      line-height: 22.5px;

      &:last-of-type {
        margin-bottom: 28px;
      }
    }
  }
}
