.feedback {
  min-height: 670px;

  background-image: url("../img/form-bg-desktop.svg"), url("../img/triangles.svg");
  background-size: contain, 670px auto;
  background-repeat: no-repeat;
  background-position: right 36px, 175px -50px;
  background-color: $color-blue;
}

.feedback__container {
  padding: 0 142px 0 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback__image {
  width: 50%;
  height: 590px;
  background-image: url("../img/airplane@1x.png");
  background-size: 511px auto;
  background-repeat: no-repeat;
  background-position: 13px 163px;
}

@media (max-width: 1320px) {
  .feedback__image {
    background-size: 300px auto;
  }
}

@media (max-width: $tablet-width) {
  .feedback {
    min-height: 663px;
    background-image: none;
  }

  .feedback__container {
    padding: 0 87px 0 91px;
  }

  .feedback__image {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .feedback {
    min-height: 640px;
  }

  .feedback__container {
    padding: 0 15px;
  }
}
