.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 33px;
}

.header__logo-link {
  display: flex;
  align-items: center;
}

.header__logo-link img {
  margin-right: 16px;
}

.header__logo-text p {
  margin: 0;
  margin-top: 4px;
  font-family: $second-font;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: $color-white;
  user-select: none;
}

.header__contacts {
  display: flex;
}

.header__contacts-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.header__contacts-link {
  display: flex;
  align-items: center;
  margin-left: 88px;
}

.header__contacts-link p {
  margin: 0;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $color-white;
  user-select: none;
  margin-left: 20px;
}

.header__contacts-request-call {
  font-family: $second-font;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-white;
  user-select: none;
  border: 1px solid $color-white;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 13px 25px;
}

.header__contacts-request-call:hover {
  background-color: $color-white;
  color: $color-black;
}

.header__contacts .button {
  margin-left: 50px;
}

@media (max-width: $tablet-width) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__contacts-link--mail svg {
    width: 25px;
    height: auto;
  }

  .header__contacts-link--phone svg {
    width: 24px;
    height: auto;
  }

  .header__contacts p {
    display: none;
  }

  .header__contacts-link {
    margin: 0;
  }

  .header__contacts-link--phone {
    margin: 0;
    margin-left: 33px;
  }

  .header__contacts .button {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .header__logo-link img {
    width: 38px;
    height: auto;
  }

  .header__logo-text {
    display: none;
  }
}
