.promo {
  position: relative;
  background-image: url("../img/chip-desktop.png");
  background-repeat: no-repeat;
  background-position-x: 620px;
  background-size: 820px auto;
}

.promo__title-block {
  padding-top: 130px;
  padding-bottom: 280px;
}

.promo__title-block h1 {
  margin-bottom: 30px;
  font-family: $second-font;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;

  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: $color-white;
}

.promo__title-block p {
  margin-bottom: 40px;
  position: relative;
  padding-left: 95px;
  width: 720px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;

  color: $color-white;
}

.promo__title-block p::before {
  position: absolute;
  content: "";

  width: 66px;
  height: 2px;

  top: 17px;
  left: 5px;

  background-color: $color-white;
}

.promo__btn {
  margin-left: 95px;
  cursor: pointer;
  padding: 18px 45px;
  background-color: $color-blue;
  border: none;
  border-radius: 5px;

  font-family: $second-font;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $color-white;
}

.promo p {
  cursor: pointer;
  margin: 0;
  position: absolute;
  left: -25px;
  bottom: 125px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;


  color: $color-white;

  opacity: 0.5;
  transform: rotate(-90deg);

  animation-name: blink;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@media (max-width: $tablet-width) {
  .promo {
    background-image: url("../img/chip-tablet.png");
    background-position: right;
    background-size: 619px auto;
    background-position-y: -120px;
  }

  .promo__title-block {
    padding-top: 44px;
    padding-bottom: 165px;
    margin-left: 63px;
  }

  .promo__title-block h1 {
    width: 400px;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.07em;
  }

  .promo__title-block p {
    margin-bottom: 55px;
    width: 400px;
    padding-left: 50px;
    font-size: 18px;
    line-height: 156.8%;
  }

  .promo__title-block p::before {
    width: 33px;
    top: 14px;
  }

  .promo p {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .promo {
    background-image: url("../img/chip-mobile.png");
    background-position-x: 50px;
    background-position-y: -110px;
    background-size: 630px auto;
  }

  .promo__title-block {
    margin-left: 0;
    padding-top: 175px;
    padding-bottom: 74px;
  }

  .promo__title-block h1 {
    width: 250px;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.07em;
  }

  .promo__title-block p {
    margin-bottom: 40px;
    width: 100%;
    padding-left: 50px;
    font-size: 16px;
  }

  .promo__title-block p::before {
    top: 12px;
  }

  .promo__title-block .button--blue-small {
    width: 100%;
  }
}
