$color-blue: #00b2ff;
$color-black: #1b2d37;
$color-grey: #ebebeb;
$color-text: #666666;
$color-error: #ff0000;
$color-white: #ffffff;
$color-grey-icon: #cdcdcd;
$shadow-inset-btn: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), #ffffff;
$main-font: "PTMono", "Arial", sans-serif;
$second-font: "RobotoCondensed", "Arial", sans-serif;
$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 740px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
