.footer {
  padding-top: 61px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.page-footer__links {
  width: 20%;
}

.footer__logo-link {
  display: flex;
  align-items: center;
  margin-bottom: 54px;
}

.footer__logo-img {
  margin-right: 16px;
}

.footer__logo-title {
  margin: 0;
  font-family: $second-font;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: $color-black;
  user-select: none;
}

.footer__tablet-copyright {
  display: none;
}

.footer__social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.footer__social li:not(:last-child) {
  margin-right: 14px;
}

.footer__link svg {
  fill: $color-grey-icon;
}

.footer__link svg:hover {
  fill: $color-blue;
}

.footer__menu {
  width: 50%;
  padding-left: 138px;
  flex-grow: 1;
}

.footer__accordion {
  padding: 0;
  margin-bottom: 29px;
  position: relative;
  font-family: $second-font;
  font-weight: 400;
  text-transform: uppercase;
  background: none;
  border: none;
}

.footer__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.footer__item {
  width: 44%;
  margin-right: 20px;
}

.footer__item-link {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $color-black;
  opacity: 0.5;
}

.footer__contacts {
  padding-left: 5px;
}

.footer__address {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
}

.footer__contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__contacts-link {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
  color: $color-black;
}

.footer__bottom {
  border-top: 1px solid rgba(53, 55, 53, 0.2);
}

.footer__content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__bottom-copyright,
.footer__confidentiality,
.footer__developed {
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  opacity: 50%;
  color: $color-black;
}

.footer__bottom-copyright span {
  margin-right: 59px;
}

@media (max-width: 1064px) {
  .footer__logo-link {
    width: 220px;
  }
}


// @media (min-width: $tablet-width) {
//   .page-footer__menu {
//     padding-left: 50px;
//   }
// }

@media (max-width: $tablet-width) {
  .footer {
    min-height: 457px;
    padding-top: 0;

    &::before {
      position: absolute;
      bottom: 69px;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $color-text;
      opacity: 20%;
    }

    &::after {
      top: 96px;
      bottom: auto;
    }
  }

  .footer__logo-link {
    margin-bottom: 0;
  }

  .footer__tablet-copyright {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;

    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    opacity: 0.5;
  }

  .footer__container {
    padding: 19px 25px 0;
  }

  .footer__content {
    flex-wrap: wrap;
    margin-bottom: 58px;
  }

  .footer__links {
    width: 100%;
    margin-bottom: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__logo {
    margin-bottom: 0;
  }

  .footer__social {
    padding-top: 5px;

    li:not(:last-child) {
      margin-right: 16px;
    }
  }

  .footer__menu {
    width: 50%;
    padding-left: 0;
  }

  .footer__list {
    max-height: 100%;
  }

  .footer__item {
    width: 100%;

    &--about {
      order: 0;
    }

    &--products {
      order: 1;
    }

    &--production {
      order: 2;
    }

    &--montage {
      order: 3;
    }

    &--details {
      order: 4;
    }

    &--delivery {
      order: 5;
    }

    &--contacts {
      order: 6;
    }
  }

  .footer__contacts {
    width: 50%;
    padding-left: 17px;
  }

  .footer__bottom-copyright {
    position: absolute;
    top: 36px;
    left: 330px;
    letter-spacing: 0;

    span {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .footer {
    &::before {
      bottom: 98px;
    }

    &::after {
      top: 258px;
      box-shadow: 0 73px 0 0 #626962;
    }
  }

  .footer__container {
    padding: 28px 15px 0;
  }

  .footer__content {
    margin-bottom: 28px;
  }

  .footer__links {
    min-height: 170px;
    margin-bottom: 73px;
    flex-direction: column;
  }

  .footer__menu {
    width: 100%;
    padding: 0;
    padding-bottom: 30px;
  }

  // .footer__list {
  //   padding-top: 20px;
  // }

  .footer__contacts {
    width: 100%;
    padding-left: 0;
  }

  .footer__content-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  .footer__bottom-copyright {
    top: 123px;
    left: 50%;
    width: 77%;
    transform: translateX(-50%);
  }
}
